.memoryCard {
  background-color: #f5f0f7;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 490px;
  height: 160px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* 모달이 열린 상태에서는 hover, transition 제거 */
.modal-open.memoryCard:hover,
.modal-open.memoryCard:active {
  transform: none !important;
  box-shadow: none !important;
  cursor: default;
}

.modal-open.memoryCard {
  transition: none !important;
}

.memoryCard:hover {
  transform: translateY(-3px) scale(1.03);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.memoryTime {
  color: black;
  font-size: 14px;
  display: flex;
  gap: 5px;
}

.memoryMessage {
  font-size: 14px;
}

.memory-image-wrapper {
  width: 100%;
  height: 140px;
  overflow: hidden;
  border-radius: 8px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memoryImage {
  width: 96px;
  height: 96px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.memoryImagePlaceholder {
  font-size: 14px;
  color: #666;
}

.memoryContent {
  display: flex;
  gap: 16px;
}

.memoryTitle {
  font-weight: bold;
  font-size: 16px;
}

.memoryDate {
  font-size: 13px;
  color: #888;
}

.memoryButton {
  margin-top: 8px;
  align-self: flex-start;
  background-color: #7b4fff;
  color: #ffffff;
  font-size: 13px;
  border: none;
  width: 75.53px;
  height: 28px;
  border-radius: 8px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.memoryButton:hover {
  transform: translateY(-3px) scale(1.02);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
