.titleList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
  max-height: 120px; /* 최대 높이 지정 (넘어가면 스크롤됨) */
  overflow-y: auto; /* 세로 스크롤 추가 */
  border-radius: 4px;
}

.title {
  background: #f3f4f6;
  border-radius: 9999px;
  margin-bottom: 8px;
  padding: 0 12px; /* 좌우 여백 */
  display: inline-flex; /* 내용 길이에 맞게 너비 조절 */
  align-items: center;
  height: 32px;
  width: fit-content; /* 내용에 따라 width 결정 */
}
