.container {
  padding: 0 40px;
  font-family: "Roboto";
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(136deg, #dbeafe 0%, #f3e8ff 49%, #fce7f3 99%);
  margin: 0 auto;
  position: relative;
  width: 1440px;

  opacity: 1;
}
