.footerContainer{
    width: 97.8%;
    height: 100%;
    margin: 0px 0px 0px 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: end;
}

.footerLogo{
    margin-right: 40px;
}

.footerText{
    font-size: 12px;
}