.headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerContainerLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.headerContainerRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.memoryContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
