.headerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:15px;
}
.headerContainer2{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerContainerLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 0px 10px;
}

.headerContainerRight{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
}

.memoryContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
button:active{
    transform: scale(0.95);
}
button{
    display: inline-block;
    height: 100%;
    font-size: clamp(16px, 2.5vw, 20px);
    background-color: transparent;
    border-radius: 7px;
    cursor: pointer;
    border: none;
}

button:hover{
    background: linear-gradient(to bottom right,  #ccffff 0%, #ffccff 100%);
}