.loginPageMainContainer{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logoImage{
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 7px;
    width: clamp(300px, 30%, 500px);
    aspect-ratio: 1/1;
}
.loginContainer{
    border: 1px solid black;
    border-radius: 7px;
    width: clamp(300px, 50%, 500px);
    height: auto;
    padding-bottom: 25px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginText{
    font-size: clamp(23px, 25px, 27px);
}
.emailContainer,
.pwContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.emailText,
.pwText{
    margin-bottom: 4px;
}
.loginButton{
    height: auto;
}
.forgotPw,
.notAccount,
.or{
    font-size: clamp(13px, 14px, 16px);
}
.signUp{
    font-weight: 600;
}