.photoModalBackColor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modalImageCard {
  position: fixed;
  width: 1152px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
