.myInfoContainer{
    background-color: white;
    margin-top: 15px;
    width: clamp(600px, 70%, 1000px);
    height: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}
.myDetailInfoContainer1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}
.forFlexLeft{
    display: flex;
    flex-direction: row;
}
.image{
    width: clamp(60px, 5vw, 70px); 
    height: clamp(60px, 5vw, 70px);
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 50%;
}
.forFlex{
    display: flex;
    flex-direction: column;

}
.name{
    font-size: clamp(20px, 21px, 22px);
    font-weight: 600;
}
.id{
    margin-left: 7px;
}
.job,
.id{
    font-size: 13px;
    color: rgb(100,100,100);
}
.myDetailInfoContainer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.myFieldContainer,
.myEquipmentContainer,
.myAreaContainer{
    background-color: rgb(230,230,230);
    border-radius: 7px;
    padding-bottom:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myField,
.myEquipment,
.myArea{
    margin: 5px;
}
.myFieldInput:hover,
.myEquipmentInput:hover,
.myAreaInput:hover,
.name:hover,
.job:hover,
.searchBar{
    cursor: pointer;
}
.myFieldInput,
.myEquipmentInput,
.myAreaInput,
.searchBar{
    background-color: transparent;
    border-radius: 7px;
    border: none;
    margin: 5px;
    text-align: center;
}
.name,
.job,
.introduction{
    background-color: transparent;
    border-radius: 7px;
    border: none;
    margin: 5px;
}
.myFieldInput:focus,
.myEquipmentInput:focus,
.myAreaInput:focus,
.name:focus,
.job:focus,
.searchBar:focus{
    border: none;
    outline: none;
}
.myDetailInfoContainer3{
    padding: 15px;
}
.introTop{
    font-weight: 600;
    margin: 5px;
}

.introduction{
    width: 100%;
    height: 40px;
    resize: none;
    border: none;
    outline: none;
}
.forFlex2{
    width: clamp(500px, 70%, 1000px);
    text-align: left;
}
.manageFriendTop{
    margin-bottom: 5px;
    width: clamp(600px, 70%, 1000px);
    text-align: left;
    font-weight: 600;
    margin-top: 100px;
}
.manageFriendContainer{
    background-color: white;
    width: clamp(600px, 70%, 1000px);
    display: flex;
    flex-direction: row;
    border-radius: 7px;
    justify-content: center;
}
.myFriendsListContainer{
    margin: 15px;
    border-radius: 7px;
    width: 50%;
}
.myFriendListTop{
    margin-left: 15px;
    font-weight: 500;
}
.searchFriendContainer{
    width: 50%;
    margin: 15px 15px 15px 30px;
    border-radius: 7px;
}
.searchMyFriendTop{
    font-weight: 500;
    margin-left: 15px;
}
.searchBar{
    margin-left: 15px;
}