.groupEditorContainer {
  width: 1088px;
  height: 1050px;
  padding: 32px;
  border-radius: 8px;
  background: #ffffff;
  margin: 95px auto;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.groupEditorTitle {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.groupEditorBody {
  display: flex;
  justify-content: space-between;
}
