.commentBox {
  width: 516px;
  height: 320px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px -4px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.commentList {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 12px;
}

.commentItem {
  background-color: #f5f0f7;
  padding: 6px 10px;
  border-radius: 6px;
  margin: 6px 0px 4px;
  font-size: 14px;

  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease;
}

.commentItem:hover {
  background-color: #e0d1e7; /* 살짝 진한 보라색 */
  transform: translateY(-3px); /* 위로 살짝 뜨게 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.commentText {
  margin-bottom: 4px;
}

.commentDate {
  font-size: 12px;
  color: #888;
}

.commentForm {
  display: flex;
  align-items: center;
  border-top: 1px solid #e5e7eb;
  padding-top: 10px;
  justify-content: space-between;
}

.commentInput {
  padding: 8px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;

  transition: transform 0.3s ease;
}

.commentInput:focus {
  transform: translateY(-3px);
}

.sendCommentButton {
  display: flex;
  justify-content: center;
  padding: 8px 12px;
  width: 78px;
  background-color: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
