.loadingModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingBackdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.loadingSpinner {
  position: relative;
  background: white;
  padding: 24px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}
